<template>
    <div id="audienceProfile">
        <ExportCSV></ExportCSV>
        <div class="nameHeader">
            <div id="nameHeaderName">AUDIENCE PROFILE</div>
            <div id="clearAudienceProfile" @click="clearAll">CLEAR ALL</div>
        </div>
        <ul id="selectedSegmentNames">
            <li class="selectedSegmentName" v-for="(selectedSegmentName, index) in selectedSegmentNames">
                <p class="selectedSegmentName-p">{{ selectedSegmentName }}</p>
                <p class="removeFromSelected" @click="removeFromSelected(index)">X</p>
            </li>
        </ul>
    </div>
</template>
<script>
    export default {
        computed: {
            selectedSegmentNames() {
                return this.$store.getters.selectedSegmentNames;
            },
        },
        methods: {
            removeFromSelected(index) {
                this.$store.dispatch('removeFromSelected', index);
            },
            clearAll() {
                this.$store.dispatch('removeAllSelected');
            },
        },
        components: {
            ExportCSV: require('./ExportCSV'),
        },
    }
</script>