<template>
    <div id="exportCSV" @click="exportCSV" ref="generateCSV">EXPORT</div>
</template>
<script>
    export default {
        methods: {
            exportCSV() {
                // only generate csv if there are selected segment names
                if (this.$store.getters.selectedSegmentNames.length === 0) return false;

                // build the csv content string
                let csvContent = "data:text/csv;charset=utf-8,Segment Names\r\n";
                this.$store.getters.selectedSegmentNames.forEach(segmentNames => csvContent += (segmentNames + "\r\n"));

                // create uri and anchor tag
                const encodedUri = encodeURI(csvContent);
                const link = document.createElement('a');

                // set uri as downloadable and simulate click
                link.setAttribute('href', encodedUri);
                link.setAttribute('download', 'segments.csv');
		document.body.appendChild(link); // for firefox
                link.click();
            },
        }
    }
</script>
