<template>
    <div id="querySection">
        <div id="searchBy">{{ searchBy }}</div>
        <ul id="searchCategory">
            <li @click="toggleSelected" id="keywordOrCategoryButton"
                :class="{selected:keywordSearchSelected}">KEYWORD OR CATEGORY
            </li>
            <li @click="toggleSelected" id="providerButton"
                :class="{selected:providerSearchSelected}">PROVIDER
            </li>
        </ul>
        <div id="queryBar" v-show="keywordSearchSelected">
            <input title="queryBar" id="queryInputElement" type="text" v-model="localQueryValue"
                   :placeholder="queryCategory" @keyup="enterQuery" ref="inputElement"/>
            <div id="searchIcon" class="hoverCursorPointer" @click="clickQuery"></div>
        </div>
        <div id="providerSelection" v-show="providerSearchSelected">
            <ul>
                <li v-for="provider in providers" @click="setProvider(provider)" class="provider hoverCursorPointer">
                    {{ provider.providerName }}
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                localQueryValue: '',
                searchBy: 'SEARCH BY',
            };
        },
        computed: {
            queryCategory() {
                return this.keywordSearchSelected ? 'Keyword Or Category...' : 'Provider...';
            },
            queryEmpty() {
                return this.localQueryValue === '';
            },
            querySize() {
                return this.$store.getters.querySize;
            },
            providerSearchSelected() {
                return this.$store.getters.providerSearchSelected;
            },
            keywordSearchSelected() {
                return !this.providerSearchSelected;
            },
            providers() {
                return this.$store.getters.providers;
            },
            providerName() {
                return this.$store.getters.providerName;
            }
        },
        methods: {
            enterQuery(event) {
                if (event.key === 'Enter') {
                    this.validateQuery();
                }
            },
            clickQuery() {
                this.validateQuery();
            },
            sendQuery() {
                this.setSearchByMessage('SEGMENT RESLTS FOR: ' + this.localQueryValue.toUpperCase());

                // on mobile, blur the input element to hide soft keyboard after enter
                if (this.clientIsMobile()) this.$refs.inputElement.blur();

                this.$store.dispatch('setSegmentNames', this.localQueryValue);
            },
            clientIsMobile() {
                return (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1);
            },
            toggleSelected() {
                this.$store.dispatch('toggleProviderSearchSelected');

                if (this.providerSearchSelected) {
                    this.$store.dispatch('switchShowResults', false);
                } else if (this.localQueryValue.length > 2 && this.$store.getters.query.length > 2) {
                    this.$store.dispatch('switchShowResults', true);
                }

                if (this.$refs.hasOwnProperty('inputElement')) {
                    this.$refs.inputElement.focus();
                }
            },
            setSearchByMessage(message) {
                this.searchBy = message;
            },
            validateQuery() {
                if (this.localQueryValue.length > 2) {
                    this.onValidQuery();
                } else {
                    this.onInvalidQuery();
                }
            },
            onValidQuery() {
                this.$store.dispatch('switchShowResults', true);
                this.sendQuery();
            },
            onInvalidQuery() {
                this.$store.dispatch('switchShowResults', false);
                this.setSearchByMessage('A MINIMUM OF 3 CHARACTERS REQUIRED');
            },
            setProvider(provider) {
                this.$store.dispatch('setProvider', provider);
                this.$store.dispatch('toggleProviderSearchSelected');
            },
        },
    }
</script>