<template>
    <div id="resultsList">
        <div id="applySelection" @click="applySelection">ADD TO AUDIENCE PROFILE</div>
        <div class="nameHeader">
            <input type="checkbox" id="checkAllBox" @click="toggleCheckAll" v-model="checked"/>
            <div id="nameHeaderName">SEGMENT NAMES</div>
        </div>
        <ul id="segmentNames">
            <li class="segmentName" v-for="segmentName in paginatedSegmentNames">
                <input type="checkbox" class="segmentNameCheckBox" :value="segmentName"
                       v-model="selection" @click="addToSelection(segmentName)"/>
                <p class="segmentName-p">{{ segmentName }}</p>
            </li>
        </ul>
        <div id="paginationSection">
            <div id="firstPageButton" class="hoverCursorPointer paginationButton" @click="moveToFirstPage">First</div>
            <div id="previousPageButton" class="hoverCursorPointer paginationButton" @click="moveToPreviousPage">
                Previous
            </div>
            <ul id="pageList">
                <li id="previousPreviousPageNumber" class="hoverCursorPointer paginationButton"
                    @click="setCurrentPageNumber(currentPageNumber - 2)">
                    {{ displayPageNumber(-2) }}
                </li>
                <li id="previousPageNumber" class="hoverCursorPointer paginationButton"
                    @click="setCurrentPageNumber(currentPageNumber - 1)">
                    {{ displayPageNumber(-1) }}
                </li>
                <li id="currentPageNumber" class="hoverCursorPointer paginationButton"
                    @click="setCurrentPageNumber(currentPageNumber)">
                    {{ displayPageNumber() }}
                </li>
                <li id="nextPageNumber" class="hoverCursorPointer paginationButton"
                    @click="setCurrentPageNumber(currentPageNumber + 1)">
                    {{ displayPageNumber(1) }}
                </li>
                <li id="nextNextPageNumber" class="hoverCursorPointer paginationButton"
                    @click="setCurrentPageNumber(currentPageNumber + 2)">
                    {{ displayPageNumber(2) }}
                </li>
            </ul>
            <div id="nextPageButton" class="hoverCursorPointer paginationButton" @click="moveToNextPage">Next</div>
            <div id="lastPageButton" class="hoverCursorPointer paginationButton" @click="moveToLastPage">Last</div>
            <div id="loadMoreButton" class="hoverCursorPointer paginationButton" @click="loadMoreSegmentNames">
                Load More
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                checked: false,
                checkAll: true,
                selection: [],
                currentPageNumber: 1,
            };
        },
        computed: {
            segmentNames() {
                return this.$store.getters.segmentNames;
            },
            pages() {
                return Math.ceil(this.$store.getters.segmentNames.length / this.namesPerPage);
            },
            paginatedSegmentNames() {
                let from = this.currentPageNumber === 1 ? 0 : (this.currentPageNumber - 1) * this.namesPerPage;
                let to = from + this.namesPerPage;

                return this.segmentNames.slice(from, to);
            },
            namesPerPage() {
                return this.$store.getters.namesPerPage;
            },
        },
        methods: {
            addToSelection(segmentName) {
                // check if the segment name already exists in the new selections or
                // the already selected segment names
                if (this.alreadySelected(segmentName)) return false;

                // add a new segment name to the selected segment names
                this.selection.push(segmentName);
            },
            alreadySelected(segmentName) {
                return (this.selection.indexOf(segmentName) !== -1) || (this.$store.getters.selectedSegmentNames.indexOf(segmentName) !== -1);
            },
            applySelection() {
                // add the new selection to the selected segment names
                this.$store.dispatch('addToSelected', this.selection);
                this.selection = [];
                this.checked = false;
            },
            moveToFirstPage() {
                this.currentPageNumber = 1;
            },
            moveToPreviousPage() {
                if (this.currentPageNumber > 1) this.currentPageNumber -= 1;
            },
            moveToNextPage() {
                if (this.currentPageNumber < this.pages) this.currentPageNumber += 1;
            },
            moveToLastPage() {
                this.currentPageNumber = this.pages;
            },
            setCurrentPageNumber(pageNumber) {
                if (this.pageNumberIsValid(pageNumber)) this.currentPageNumber = pageNumber;
            },
            pageNumberIsValid(pageNumber) {
                return (pageNumber > 0 && pageNumber <= this.pages);
            },
            displayPageNumber(offset = 0) {
                if (offset !== 0) {
                    if (this.atPageLimit && this.offSetPageOutOfBounds(offset)) return '~';

                    return this.currentPageNumber + offset;
                }

                return this.currentPageNumber;
            },
            atPageLimit() {
                return (this.currentPageNumber === 1 || this.currentPageNumber === this.pages);
            },
            offSetPageOutOfBounds(offset) {
                return ((this.currentPageNumber + offset) > this.pages || (this.currentPageNumber + offset) < 1);
            },
            loadMoreSegmentNames() {
                this.$store.dispatch('loadMoreSegmentNames');
            },
            toggleCheckAll() {
                this.selection = this.checkAll ? this.$store.getters.segmentNames : [];
                this.checkAll = !this.checkAll;
                this.checked = !this.checked;
            },
        },
    }
</script>