<template>
    <div id="container">
        <QuerySection></QuerySection>
        <ResultsList v-show="showResults"></ResultsList>
        <AudienceProfile v-show="showResults"></AudienceProfile>
    </div>
</template>
<script>
    export default {
        computed: {
            showResults() {
                return this.$store.getters.showResults;
            },
        },
        components: {
            QuerySection: require('./QuerySection'),
            ResultsList: require('./ResultsList'),
            AudienceProfile: require('./AudienceProfile'),
        },
    }
</script>