.nav-container {
  display: grid;
  grid-template-columns: [left-pad] 0.5em [content] auto [right-pad] 0.5em;
  grid-template-rows: [nav-bar] auto [hr] auto;
}

.logo {
  display: inline;
}

@media (min-width: 0px) and (max-width: 999px) {
  .nav-container {
    grid-template-columns: [left-pad] 2em [content] auto [right-pad] 2em;
  }

  #desktop a img {
    display: none;
  }

  #mobile a img {
    display: inline;
    height: 60px;
  }
}

@media (min-width: 1000px)  {
  .nav-container {
    grid-template-columns: [left-pad] auto [content] 950px [right-pad] auto;
  }

  #desktop a img {
    display: inline;
    height: 100px;
  }

  #mobile a img {
    display: none;
  }
}

.nav-bar {
  margin: 30px 0;
  grid-column: content;
  grid-row: nav-bar;
}

.nav-button {
  float: right;
  margin-top: 20px;
  margin-left: 15px;
}

hr {
    grid-column: content;
    grid-row: hr;
    height: 1px;
    border: 0;
    border-top: 3px solid #1071BB;
    margin: 1em 0;
    padding: 0;
}
