@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
    background: #fff no-repeat center center fixed;
    font-family: 'Raleway', sans-serif;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 250px;
    padding: 100px;
}

.login-input input[type="email"], .login-input input[type="password"] {
    line-height: 35px;
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #D3D3D3;
    color: #000;
}

.login-btn input[type=submit] {
    margin-top: 5px;
    width: 100%;
    height: 55px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: #fff;
    color: #1071BB;
    border-radius: 0;
    border: 2px solid #1071BB;
}

img {
    width: 220px;
    margin-top: 20%;
    margin-bottom: 10px;
}

.remember {
    float: left;
    display: inline;
    font-size: 12px;
}

.forgot {
    display: inline;
    float: right;
    font-size: 12px;
    margin-top: 14px;
    cursor: pointer;
}

.popover-container {
    position: relative;
    display: inline-block;
}

.popover-content {
    position: absolute;
    text-align: left;
    display: none;
    background: #f7f7f7;
    width: auto;
    z-index: 10;
    content: '';
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #f7f7f7 transparent;
    border-radius: 5px 5px 0 0;
    font-size: 12px;
}

.popover-message {
    text-align: center;
}

.popover-row {
    font-weight: 800;
    margin-bottom: 10px;
}

.popover-input input[type="email"] {
    padding: 2px;
}

.popover-btn input[type="submit"] {
    padding: 4px;
    text-align: center;
    margin-left: 30%;
    text-decoration: none;
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #fff;
    color: #1071BB;
    border-radius: 0;
    border: 2px solid #1071BB;
}

#close {
    margin: 12px 5px;
}

#close {
    float: right;
    cursor: pointer;
    color: #ffffff;
    font-size: 12px;
    background: #1071BB;
    text-decoration: none;
}

#close:hover {
    background: #3cb0fd;
    text-decoration: none;
}
