@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
    font-family: 'Raleway', sans-serif;
}

h2 {
    color: #1071BB;
}

form {
    margin: 0 auto;
    margin-bottom: 10%;
    width: 40%;
    display: grid;
    grid-template-columns: [labels] 1fr;
    grid-auto-flow: row;
    padding: 1em;
    text-align: center;
}

@media (max-width: 900px) {
    form {
        width: 100%;
    }
}

input[type="password"] {
    grid-column: controls;
    grid-row: auto;
    border: none;
    padding: .7em;
    width: 40%;
    line-height: 30px;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #D3D3D3;
    color: #000;
}

input[type=submit] {
    grid-column: controls;
    grid-row: auto;
    border: none;
    padding: .7em;
    width: 40%;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: #fff;
    color: #1071BB;
    border-radius: 0;
    border: 2px solid #1071BB;
}

.user-info, .password {
    font-weight: 1200;
    font-size: 20px;
}

.nav-container {
    margin-bottom: 100px;
}
