// INIT
body {
  height: 100vh;
  width: 100vw;
}

body * {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}

// Border Box Everything
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@mixin bp($point) {
  @if $point == medium {
    @media(min-width: 400px) { @content; }
  }
  @else if $point == large {
    @media(min-width: 1000px) { @content; }
  }
}

.hoverCursorPointer:hover {
  cursor: pointer;
}

// CONTAINER
#container {
  display: grid;
  grid-template-columns: [leftPad] 0.5em [content] auto [rightPad] 0.5em;
  grid-template-rows: [topPad] 25px [querySection] 100px [resultsList] 400px [audienceProfile] 350px;
  height: auto;
  width: auto;

  @include bp(medium) {
    grid-template-columns: [leftPad] 2em [content] auto [rightPad] 2em;
  }

  @include bp(large) {
    grid-template-columns: [leftPad] auto [content] 950px [rightPad] auto;
  }
}

// QUERY SECTION BEGIN
#querySection {
  grid-column: content;
  grid-row: querySection;
  display: grid;
  margin: 0;
  padding: 0;
  border: 0;
  grid-template-rows: [searchBy] 25px [searchCategory] 35px [queryBar] 35px;
}

#searchBy {
  grid-row: searchBy;
}

#searchCategory {
  grid-row: searchCategory;

  display: grid;
  grid-template-columns: [keywordCategory] 70% [provider] 30%;

  @include bp(medium) {
    width: 375px;
  }
}

#searchCategory > li {
  border: solid 1px #C8C8C8;
  text-align: center;
  padding-top: 0.5em;

  &#keywordOrCategoryButton {
    grid-column: keywordCategory;
    border-radius: 5px 0 0 0;
  }

  &#providerButton {
    grid-column: provider;
    border-radius: 0 5px 0 0;
  }

  &:hover {
    cursor: pointer;
  }

  &.selected {
    background-color: #1071BB;
    color: #FFF;
  }
}

#queryBar {
  grid-row: queryBar;
  display: grid;
  grid-template-columns: [input] 90% [icon] 10%;

  @include bp(medium) {
    width: 375px;
  }
}

#queryInputElement {
  border: 1px solid #C5C5C5;
  border-right: 0;
  padding: 0 0 0 8px;
  grid-column: input;
}

#searchIcon {
  grid-column: icon;
  background: url("../images/search.png") no-repeat;
  border: solid 1px #C8C8C8;
  border-left: 0;
}

#providerSelection {
  min-height: 500px;
  overflow: scroll;
}

.provider {
  height: 50px;
  padding: 15px;
  border: solid 1px #DDDDDD;

  &:hover {
    background-color: #EBEFF2;
  }
}
// QUERY SECTION END

// RESULTS LIST BEGIN
#resultsList {
  grid-column: content;
  grid-row: resultsList;
  overflow: scroll;
  display: grid;
  grid-template-rows: [applyButton] 50px [nameHeader] 50px [segmentNames] 225px [paginationSection] 50px;
}

#resultsList .nameHeader {
  grid-row: nameHeader;
  background-color: #1071BB;
  color: #FFF;
  padding: 15px 0 0 10px;

  display: grid;
  grid-template-columns: [checkAllBox] 25px [name] auto;
}

#checkAllBox {
  grid-column: checkAllBox;
}

#nameHeaderName {
  grid-column: name;
}

#applySelection {
  grid-row: applyButton;
  border: solid 1px #C8C8C8;
  width: 250px;
  text-align: center;
  background-color: #1071BB;
  color: #FFF;
  border-radius: 5px;
  padding-top: 15px;

  &:hover {
    cursor: pointer;
  }
}

#segmentNames {
  grid-row: segmentNames;
  overflow: scroll;
  border: solid 1px #C8C8C8;
}

.segmentName {
  margin: 0.25em;
  padding: 0.5em;
  width: auto;
  border-bottom: solid 1px #C8C8C8;
  display: grid;
  grid-template-columns: [checkbox] 25px [segmentName] auto;

  &:hover {
    cursor: pointer;
    background-color: #EBEFF2;
    transition: 0.1s;
  }

  input.segmentNameCheckBox {
    grid-column: checkbox;
  }

  p.segmentName-p {
    grid-column: segmentName;
  }
}

// PAGINATION SECTION BEGIN
.paginationButton {
  text-align: center;
  border: solid 1px #C8C8C8;
  padding: 10px;
}

#paginationSection {
  grid-row: paginationSection;
  display: grid;
  margin-top: 10px;
  grid-template-columns: [firstPageButton] 100px [previousPageButton] 100px [pages] 200px [nextPageButton] 100px [lastPageButton] 100px [loadMoreButton] 150px;
  height: 30px;
}

#firstPageButton {
  grid-column: firstPageButton;
  border-radius: 5px 0 0 5px;
}

#previousPageButton {
  grid-column: previousPageButton;
}

#pageList {
  grid-column: pages;
  display: grid;
  grid-template-columns: [previousPreviousPageNumber] 40px [previousPageNumber] 40px  [currentPageNumber] 40px [nextPageNumber] 40px [nextNextPageNumber] 40px;
}

// PAGE NUMBERS BEGIN
#previousPreviousPageNumber {
  grid-column: previousPreviousPageNumber;
}

#previousPageNumber {
  grid-column: previousPageNumber;
}

#currentPageNumber {
  grid-column: currentPageNumber;
}

#nextPageNumber {
  grid-column: nextPageNumber;
}

#nextNextPageNumber {
  grid-column: nextNextPageNumber;
}
// PAGE NUMBERS END

#nextPageButton {
  grid-column: nextPageButton;
}

#lastPageButton {
  grid-column: lastPageButton;
}

#loadMoreButton {
  grid-column: loadMoreButton;
  border-radius: 0 5px 5px 0;
}
// PAGINATION SECTION END
// RESULTS LIST END

// AUDIENCE PROFILE BEGIN
#audienceProfile {
  grid-column: content;
  grid-row: audienceProfile;
  overflow: scroll;
  display: grid;
  grid-template-rows: [exportButton] 50px [nameHeader] 50px [selectedSegmentNames] 225px;
}

#audienceProfile .nameHeader {
  grid-row: nameHeader;
  background-color: #1071BB;
  color: #FFF;
  padding: 15px;
  display: grid;
  grid-template-columns: [name] 200px [centerPad] auto [clearAll] 150px;
}

#nameHeaderName {
  grid-column: name;
}

#clearAudienceProfile {
  grid-column: clearAll;
  
  &:hover {
    cursor: pointer;
  }
}

#exportCSV {
  grid-row: exportButton;
  border: solid 1px #C8C8C8;
  width: 100px;
  text-align: center;
  background-color: #1071BB;
  color: #FFF;
  border-radius: 5px;
  padding-top: 15px;

  &:hover {
    cursor: pointer;
  }
}

#selectedSegmentNames {
  grid-row: selectedSegmentNames;
  overflow: scroll;
  border: solid 1px #C8C8C8;
}

.selectedSegmentName {
  margin: 0.25em;
  padding: 0.5em;
  width: auto;
  border-bottom: solid 1px #C8C8C8;
  display: grid;
  grid-template-columns: [segmentName] auto [deleteButton] 25px;

  &:hover {
    cursor: pointer;
    background-color: #EBEFF2;
    transition: 0.1s;
  }

  p.selectedSegmentName-p {
    grid-column: segmentName;
  }

  p.removeFromSelected {
    grid-column: deleteButton;
  }
}
// AUDIENCE PROFILE END